/* email-preview  */
.email-preview{
  border: 1px solid rgb(189, 180, 180);
  padding: 8px;
  margin-bottom: 3px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  color: #121213
}

.email-preview:hover{
  opacity: 0.8;
  box-shadow: inset 1px 1px 8px black;
  transform: scaleY(1.1);
}

.email-preview button {
  background-color: unset;
  border: 0;
  cursor: pointer;
   outline: 0; 
}

.email-preview button img{
width: 20px;
margin: 0 5px 0 5px;
}

.email-preview button img:hover{
filter: invert(0.7);
}

li.email-preview {
  display: flex;
  justify-content: space-between;
}
@media(max-width:800px){
  li .time-and-actions {
    display: flex;
    flex-direction: column;
  }
}
