/* side-bar */
.side-bar {
  height: 62vh;
}

.side-bar.actions-filters {
  border: 2px solid #63737e;
  margin: 0 10px;
  border-radius: 8px;
  padding: 5px;
}

.side-bar.actions-filters a {
  cursor: pointer;
  background-color: #f0f5f9;
  border-radius: 10px;
  text-align: center;
  text-align: center;
  height: 35px;
  margin: 0 10px;
  padding: 7px 0;
}

.side-bar.actions-filters a:hover {
  filter: invert(0.8);
}

.side-bar.actions-filters .compose {
  border-radius: 10px;
  outline: 0;
  padding: 5px;
  width: 180px;
  margin: 10px;
  cursor: pointer;
}

.side-bar.actions-filters .compose span {
  font-size: 1.8em;
}

.side-bar.actions-filters .compose img {
  width: 26px;
  margin-right: 5px;
}

.side-bar.actions-filters .compose:hover {
  filter: invert(0.9);
}

.side-bar.actions-filters .my-active {
  background-color: red;
}
@media (max-width:760px){
  .side-bar{
    max-width: 326px;
    margin: 0 auto;
  }
  .side-bar.actions-filters .compose{
    width: 95%;
    max-width: 292px;
  }
}