/* side-bar */
.side-bar{
  height: 62vh;
}
.side-bar.actions-filters {
  border: 2px solid black;
  margin-left: 5px;
}

.side-bar.actions-filters a {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.side-bar.actions-filters a:hover {
  filter: invert(0.8);
  color: green;
}

.side-bar.actions-filters .compose {
  border-radius: 10px;
  outline: 0;
  padding: 5px;
}

.side-bar.actions-filters .compose span {
  font-size: 1.8em;
}

.side-bar.actions-filters .compose img {
  width: 26px;
  margin-right: 5px;
}

.side-bar.actions-filters .compose:hover {
  filter: invert(0.9);
}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 100%;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}