*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.debug *{
  outline: 1px solid orange;
}
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.space-between{
  justify-content: space-between;
}
.clean-list{
  list-style-type:none;
}