@font-face {
    font-family: Montserrat;
    src: url(../../../fonts/Montserrat/Montserrat-Regular.ttf);
    font-size: 1.1875rem;
}

@font-face {
    font-family: ClickeScript;
    src: url(../../../fonts/Clicker_Script/ClickerScript-Regular.ttf);
    font-size: 1.1875rem;
}

