.home-page{
    background-image: url("../../img/desk2.jpg");
    height: 78vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    text-align: center;
    
}

.h-container{
    height: 350px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-page h1{
    font-size: 5rem;
    margin: 0;
    font-family: ClickeScript, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home-page h3{
    font-size: 2rem;
    margin: 0;
}