.main-header {
    height: 85px;
    background-color: #52616b;
    color: #f0f5f9;
    padding: 5px 10px;
    align-items: center;
    /* margin-bottom: 20px; */
}

.nav-list {
    margin-right: 10px;
    width: 410px;
    justify-content: space-between;
}

.nav-list a {
    color: #f0f5f9;
}

.main-header h1 {
    font-family: ClickeScript, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 5px;
    font-size: 2.5rem;
}

.main-header img {
    width: 75px;
}

.left-header {
    align-items: center;
}

.footer {
    height: 80px;
    background-color: #52616b;
    color: #f0f5f9;
    padding: 5px 10px;
    align-items: center;
    /* margin-top: 20px; */
    text-align: center;
    line-height: 80px;
}
