@import './cmps/NotesList.css';
@import './cmps/AddNote.css';
@import './cmps/NotesFilter.css';

.keep-app{
    max-width: 1200px;
    margin: 20px auto;
}

.keep-app h1{
    margin: 5px;
}

 /* NARROW */

@media (min-width: 600px){

    .note-filter-box{
        margin: 5px auto 10px;
    }

    .note-card{
        width: 330px;
    }
}

 /* WIDE */

@media (min-width: 1000px){
    .note-filter-box{
        margin: 5px auto 10px;
    }
    .note-card{
        width: 330px;
    }
}