.notes-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-content: center;
    justify-items: center;
    margin: 10px auto;
    gap: 10px;
}

.note-card{
    max-width: 330px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 4px 9px 0px rgba(0,0,0,0.66);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5px;
    transition: all 1s ease-in-out;   
}

.note-card:hover{
    transform: scale(1.02); 
    box-shadow: 0 0 10px 4px rgb(0 0 0 / 0.5)
}

.txt-note{
    height: 200px;
}



.new-todo-add{
    margin: 10px auto;
    text-align: center;
    width: 230px;
    border-radius: 100px;
}

.new-todo-add img{
    width: 18px;
    opacity: 0.7;
}

.new-todo-add .editble-todo{
    width: 150px;
    background-color: unset;
    border: 1px solid #49555ea1;
    outline: none;
    font-size: 1rem;
    color: #49555e;
    font-family: Montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-note .note-picture, .video-note iframe{
    margin: 5px auto;
    max-width: 300px;
    object-fit: cover;
}

.todos-note{
    height: 250px;
}


.note-icons{
    height: 50px;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 0.9s;
}

.note-card:hover .note-icons{
    opacity: 1;
    transition: opacity 0.9s;
}

.note-icons button, .new-todo-add button{
    background-color: unset;
    border: 0;
    cursor: pointer;
    outline: none;
}

.note-icons img{
    width: 20px;
    opacity: 0.6;
}

.note-icons img:hover{
    opacity: 1;
}

.note-icons .color-btn{
    background-image: url("../img/color.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;

}

.note-icons .color-btn:hover{
    opacity: 1;
}

.note-icons .note-pinned img{
    opacity: 1;
}

.change-color{
    opacity: 0;
    z-index: -1;
    cursor: pointer
}

.editble-txt{
    border: 0;
    outline: none;
    padding: 30px 20px;
    font-size: 1.125rem;
    font-weight: 500;
    font-family: Montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    resize: none;
}

.editble-title{
    margin: 10px auto;
    border: 0;
    outline: none;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: Montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
}

/* todos */
.todo-done {
    text-decoration: line-through;
}

.todos-note li{
    cursor: pointer;
}

@media (min-width: 400px){
    .note-card{
        max-width: 290px
    }
    .note-card .note-picture{
        width: 100%;
        object-fit: cover;
    }
}
